.weather-header {
    background-image: linear-gradient(to right, rgb(76, 145, 230), rgb(10, 74, 159));
}

h1 {
    padding: 20px 0px;
    font-weight: bold !important;
}

#form-heading {
    font-weight: bold;
    letter-spacing: 1px;
    padding-top: 10px;
}

#search-button {
    background-color: rgb(76, 145, 230);
    color: rgb(252, 252, 252);
    border-radius: 5px;
    font-size: 14px;
}

#search-input {
    padding-left: 10px;
    border-radius: 5px;
    border: 1px solid black;
    letter-spacing: 1px;
}

.hr {
    border: 0;
    height: 1px;
    margin-left: auto;
    margin-right: auto;
    background: black;
}

#today {
    border: 1px solid black;
    height: 200px;
}