body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}

.weather-header {
    background-image: linear-gradient(to right, rgb(76, 145, 230), rgb(10, 74, 159));
}

h1 {
    padding: 20px 0px;
    font-weight: bold !important;
}

#form-heading {
    font-weight: bold;
    letter-spacing: 1px;
    padding-top: 10px;
}

#search-button {
    background-color: rgb(76, 145, 230);
    color: rgb(252, 252, 252);
    border-radius: 5px;
    font-size: 14px;
    width: 100%;
}

#search-button:focus {
    outline: none !important;
    border: none !important;
    box-shadow: none;
}

#search-button:hover {
    background-color: rgb(249, 185, 37) !important;
    border: none;
    color: black;
}

#search-input {
    padding-left: 10px;
    border-radius: 5px;
    border: 1px solid black;
    letter-spacing: 1px;
    margin-right: 20px;
}
#search-input:focus {
    outline: none !important;
    box-shadow: none;
}

::placeholder {
    font-style: italic;
    color: rgb(206, 205, 205);
    font-size: 16px;
}

.hr {
    border: 0.6px solid black;
}

.cityname {
    font-size: 35px;
    font-weight: bold;
    padding-bottom: 20px;
}

#today {
    border: 1px solid black;
    height: auto;
    padding: 10px 10px 10px 15px;
    margin-left: -15px;
}

.cityBtn {
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: rgb(227, 227, 227);
    border: none;
    padding: 5px;
}

.cityBtn:focus {
    outline: none !important;
    box-shadow: none;
}

.cityBtn:hover {
    background-color: rgb(249, 185, 37) !important;
    border: none;
    color: black;
}